:root {
    --COR_BOTAO: rgba(255, 255, 255, 0.1);
}

body, html {
    width: 100%;
    height: 100%;
    overflow: auto;
}

html {
    overflow: hidden;
}

main {
    width: 100%;
    height: 100%;
    background-color: rgb(15, 15, 20);
    overflow: hidden;
}

[data-id="contentSelecionarImagem"] {
    position: absolute;
    z-index: 100000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

[data-id="contentSelecionarImagem"] div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    filter: blur(3px);
    background-image: linear-gradient(130deg, rgb(200, 50, 10) -10%, rgb(10, 0, 50) 90%);
    margin: 0px auto;
}

[data-id="contentSelecionarImagem"] h1 {
    font-size: 9vw;
    font-style: normal;
    font-family: "Fontetitulo1";
}

[data-id="contentSelecionarImagem"] p {
    margin: 10px 0px;
}

[data-id="contentSelecionarImagem"] h1, [data-id="contentSelecionarImagem"] p {
    opacity: 0.7;
}

[data-id="contentSelecionarImagem"] button {
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    padding: 0px 15px;
    min-width: 220px;
    text-align: center;
    line-height: 35px;
    height: 35px;
    font-size: 14px;
    border-radius: 30px;
    transition: background-color 150ms ease-in-out, box-shadow 150ms ease-in-out, color 150ms ease-in-out;
}

[data-id="contentSelecionarImagem"] button:hover {
    background-color: rgba(255, 255, 255, 0.25);
    color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 5px 20px rgba(255, 255, 255, 0.25);
}

[data-id="janelaapp"] {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0px;
    left: 0px;
}

[data-id="contentTela"] {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

[data-id="tela"] {
    position: relative;
    display: inline-block;
    overflow: hidden;
    cursor: grab;
    margin-right: 100px;
    margin-bottom: 90px;
}

/* ====================================== Janela de configuração da grade ===================================== */

[data-id="janelaConfiguracao"] {
    position: absolute;
    z-index: 9997;
    top: 100px;
    left: 100px;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    padding: 10px;
    color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
    min-width: 260px;
}

[data-id="bttSelecionarCor"] {
    border-radius: 10px;
    width: 150px;
    height: 25px;
    background-color: black;
    margin-top: -5px;
    margin-bottom: 10px;
    border: 1px solid rgba(213, 192, 107, 0.6);
    transition: box-shadow 250ms ease-in-out;
}

[data-id="bttSelecionarCor"]:hover {
    box-shadow: 0px 2px 10px rgba(213, 192, 107, 0.75);
}

.tituloJanela {
    text-align: center;
    border-bottom: 2px solid var(--COR_BOTAO);
    line-height: 32px;
    font-size: 16px;
    height: 34px;
    text-transform: uppercase;
}

.conteudoJanela {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 14px;
}

.conteudoJanela label {
    margin-bottom: 10px;
}

.conteudoJanela input[type="number"] {
    height: 25px;
    width: 60px;
    text-align: center;
    border-radius: 30px;
    font-size: 14px;
    border: 2px solid rgba(213, 192, 107, 0.6);
    color: rgba(255, 255, 255, 0.7);
    background-color: transparent;
    transition: opacity 250ms ease-in-out, border 250ms ease-in-out, box-shadow 250ms ease-in-out;
}

.conteudoJanela input[type="number"]:hover {
    border: 2px solid rgba(213, 192, 107, 1);
    box-shadow: 0px 2px 10px rgba(213, 192, 107, 0.75);
}

.subConteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    font-size: 14px;
    border-top: 2px solid var(--COR_BOTAO);
    width: 100%;
}

.barraValor {
    appearance: none;
    margin: 0 auto;
    width: 220px;
    background: transparent;
    margin-bottom: 5px;
    transition: box-shadow 250ms ease-in-out;
}

.barraValor:hover {
    box-shadow: 0px 2px 10px rgba(213, 192, 107, 0.75);
}

.barraValor::-webkit-slider-runnable-track {
    height: 7px;
    background: rgba(213, 192, 107, 0.8);
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.barraValor::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    background: rgb(213, 192, 107);
    border-radius: 50%;
    margin-top: -4px;
    border: 2px solid rgba(0, 0, 0, 0.7);
}

.contentBttsJanela {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 38px;
    border-top: 2px solid var(--COR_BOTAO);
}

.contentBttsJanela button {
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    top: 10px;
    padding: 0px 10px;
    min-width: 100px;
    text-align: center;
    line-height: 25px;
    height: 25px;
    font-size: 11px;
    border-radius: 25px;
    transition: background-color 150ms ease-in-out, box-shadow 150ms ease-in-out, color 150ms ease-in-out;
}

.contentBttsJanela button:hover {
    background-color: rgba(255, 255, 255, 0.25);
    color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 5px 20px rgba(255, 255, 255, 0.25);
}

/* ============================================= Seletor de cores ============================================= */

[data-id="janelaSelecionarCor"] {
    position: absolute;
    display: none;
    top: 100px;
    left: 150px;
    background-color: rgba(12, 12, 17, 0.75);
    backdrop-filter: blur(5px);
    width: 560px;
    border-radius: 10px;
    padding: 10px;
    z-index: 9998;
}

.barraMoverJanela {
    position: absolute;
    width: 100%;
    height: 10px;
    top: 0px;
    left: 0px;
    cursor: move;
}

[data-id="janelaSelecionarCor"] input[type="text"] {
    height: 25px;
    width: 100px;
    text-align: center;
    font-size: 14px;
    border: 2px solid rgba(213, 192, 107, 0.6);
    color: rgba(255, 255, 255, 0.6);
    background-color: transparent;
    transition: opacity 250ms ease-in-out, border 250ms ease-in-out, box-shadow 250ms ease-in-out;
    display: inline-block;
    padding: 2px;
    text-transform: uppercase;
    margin-left: 5px;
    border-radius: 25px;
}

[data-id="janelaSelecionarCor"] input[type="text"]:hover {
    border: 2px solid rgba(213, 192, 107, 1);
    box-shadow: 0px 2px 10px rgba(213, 192, 107, 0.75);
}

[data-id="janelaSelecionarCor"] label {
    display: inline-block;
    background: rgba(0, 0, 0, 0);
    color: rgb(173, 173, 173);
    font-size: 12px;
}

[data-id="comparaCorAtualEEscolhida"] {
    width: 100px;
    height: 255px;
    float: left;
    display: block;
}

.comparacores {
    width: 100%;
    height: 127.5px;
    display: block;
}

[data-id="contentGradienteCor"] {
    position: relative;
    display: inline-block;
    width: 440px;
    height: 255px;
}

.canvasSelecionarCor {
    width: 100%;
    height: 100%;
}

[data-id="contentBarraeEspectroCor"] {
    position: relative;
    height: 20px;
    margin-top: 3px;
}

[data-id="InputsjanelaSelecionarCor"] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 45px;
}

.cursorSeletor {
    position: absolute;
    z-index: 3;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
}

.cursorSeletor div {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255);
}

.bttGridImage {
    position: relative;
    float: right;
    top: 10px;
    min-width: 85px;
    margin-left: 10px;
    border-radius: 25px;
    background-color: var(--COR_BOTAO);
    color: rgba(255, 255, 255, 0.4);
    text-transform: uppercase;
    padding: 0px 10px;
    transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
    height: 25px;
    text-align: center;
    line-height: 25px;
    font-size: 11px;
}

.fadetransition {
    position: absolute;
    z-index: 10000000;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0px;
    left: 0px;
    background-color: black;
    transition: opacity 350ms ease-in-out !important;
}

.canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.canvasImage {
    z-index: 1;
}

.canvasGrid {
    z-index: 2;
}

@media screen and (min-width: 1420px) {
    [data-id="contentSelecionarImagem"] h1 {
        font-size: 91px;
    }
}