[data-id="topoMenu"] {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 0px;
    width: 100%;
    font-size: 15px;
    z-index: 1000000;
}

.transitionTopoMenu {
    transition: background-color 0.5s ease-in-out, border 0.5s ease-out, height 0.5s ease-in-out;
}

.topoMenu1 {
    height: 60px;
    border-bottom: solid 2px rgba(255, 255, 255, 0.10);
}

.topoMenu2 {
    height: 50px;
    background-color: rgba(0, 0, 0, 0.618);
    border-bottom: solid 2px rgba(0, 0, 0, 0);
}

[data-id="contentMenu"] {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1400px;
}

/* ========================================  BTTLOGO  ======================================== */

[data-id="bttLogoMenu"] {
    background: url("./imagens/LogoGMwhite.svg") no-repeat 50%;
    background-size: 75%;
    height: calc(100% + 2px);
    float: left;
    opacity: 0.8;
}

.transitionTopoMenu [data-id="bttLogoMenu"] {
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out, opacity 0.2s ease-in-out;
}

[data-id="bttLogoMenu"]:hover {
    opacity: 1;
}

.topoMenu1 [data-id="bttLogoMenu"] {
    width: 120px;
}

.topoMenu2 [data-id="bttLogoMenu"] {
    width: 100px;
}

/* ========================================  OPCOESMENU  ======================================== */

[data-id="opcoesMenu"] {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: calc(100% + 2px);
}

[data-id="opcoesMenu"] li {
    position: relative;
    float: left;
    height: 100%;
    padding: 0 11px 0 12px;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}

.transitionTopoMenu [data-id="opcoesMenu"] li {
    transition: line-height 0.4s ease-in-out, border 0.2s ease-in-out, color 0.2s ease-in-out;
}

.topoMenu1 [data-id="opcoesMenu"] li {
    line-height: 58px;
}

.topoMenu2 [data-id="opcoesMenu"] li, .topoMenu1 [data-id="opcoesMenu"] li ul li {
    line-height: 48px;
}

[data-id="opcoesMenu"] li:hover {
    color: rgb(213, 192, 107);
    border-bottom: 2px solid rgb(213, 192, 107);
}

[data-id="opcoesMenu"] li ul {
    width: 220px;
    border-radius: 0 0 10px 10px;
    position: absolute;
    left: 0px;
    top: calc(100% + 2px);
    overflow: hidden;
    max-height: 0;
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2);
    z-index: 10000;
    transition: max-height 0.2s ease-in-out;
}

[data-id="opcoesMenu"] li:hover ul {
    max-height: 150px;
}

[data-id="opcoesMenu"] li ul:hover {
    overflow: auto;
}

[data-id="opcoesMenu"] li ul li {
    height: 50px;
    width: 100%;
    line-height: 48px;
    color: black;
    background-color: rgba(213, 192, 107, 0.9);
    border-bottom: none;
}

.transitionTopoMenu [data-id="opcoesMenu"] li ul li {
    transition: background-color 0.2s ease-in-out;
}

[data-id="opcoesMenu"] li ul li:hover {
    background-color: rgba(100, 70, 10, 0.9);
    border-bottom: none;
    color: rgb(213, 192, 107);
}

[data-id="opcoesMenu"] li ul li a {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
    transition: color 0.2s ease-in-out;
}

/* ========================================  BTTSETA  ======================================== */

[data-id="bttSeta"] {
    position: relative;
    width: 50px;
    height: calc(100% + 2px);
    float: right;
}

.transitionTopoMenu [data-id="bttSeta"] {
    transition: padding 0.4s ease-in-out;
}

[data-id="tracosSeta"] {
    position: relative;
    opacity: 0.8;
    transition: opacity 0.2s ease-in-out;
}

[data-id="bttSeta"]:hover [data-id="tracosSeta"] {
    opacity: 1;
}

.topoMenu1 [data-id="bttSeta"] {
    padding-top: 5px;
}

[data-id="bttSeta"] span {
    position: absolute;
    width: 22px;
    height: 3px;
    background-color: #fff;
    transition: transform 0.2s ease-in-out, left 0.2s ease-in-out, top 0.2s ease-in-out;
}

.inicioBttSeta .tracoseta1 {
    transform: rotate(50grad);
    left: 7px;
    top: 17px;
}

.inicioBttSeta .tracoseta2 {
    transform: rotate(-50grad);
    left: 21px;
    top: 17px;
}

.inicioBttSeta .tracoseta3 {
    transform: rotate(50grad);
    left: 7px;
    top: 30px;
}

.inicioBttSeta .tracoseta4 {
    transform: rotate(-50grad);
    left: 21px;
    top: 30px;
}

.mudaBttSeta .tracoseta1 {
    transform: rotate(-250grad);
    top: 16px;
    left: 7px;
}

.mudaBttSeta .tracoseta2 {
    transform: rotate(250grad);
    top: 16px;
    left: 21px;
}

.mudaBttSeta .tracoseta3 {
    transform: rotate(-250grad);
    top: 29px;
    left: 7px;
}

.mudaBttSeta .tracoseta4 {
    transform: rotate(250grad);
    top: 29px;
    left: 21px;
}

[data-id="bttSeta"] ul {
    position: absolute;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.618);
    width: 100%;
    height: 300px;
    left: 0;
    top: 100%;
    transition: max-height 0.2s ease-in-out;
}

[data-id="bttSeta"] ul li {
    width: 50px;
    height: 50px;
}

[data-id="bttSeta"] ul li a {
    display: block;
    width: 50px;
    height: 50px;
}

.inicioBttSeta ul {
    max-height: 0px;
}

.mudaBttSeta ul {
    max-height: 200px;
}

[data-id="logoinsta"] {
    background: url("./imagens/icones/instagramLogoWhite.svg") no-repeat 50%;
    background-size: 35px;
}

[data-id="logoyoutube"] {
    background: url("./imagens/icones/youtubeLogoWhite.svg") no-repeat 50%;
    background-size: 41px;
}

[data-id="logoGitHub"] {
    background: url("./imagens/icones/githubLogoWhite.svg") no-repeat 50%;
    background-size: 36px;
}

[data-id="logoLinkedin"] {
    background: no-repeat url("./imagens/icones/linkedinLogo.svg") 50%;
    background-size: 34px;
}

.iconeSociais {
    opacity: 0.8;
    transition: opacity 0.2s ease-in-out;
}

.iconeSociais:hover {
    opacity: 1;
}

/* ========================================= BTTMENU ========================================== */

[data-id="bttMenuOpcoesMenu2"] {
    display: none;
    position: relative;
    float: left;
    width: 50px;
    height: 50px;
}

[data-id="tracosBttMenuOpcoesMenu2"] {
    position: relative;
    opacity: 0.8;
    width: 50px;
    height: 50px;
    transition: opacity 0.2s ease-in-out;
}

[data-id="bttMenuOpcoesMenu2"]:hover [data-id="tracosBttMenuOpcoesMenu2"] {
    opacity: 1;
}

[data-id="tracosBttMenuOpcoesMenu2"] span {
    position: absolute;
    left: 10px;
    width: 30px;
    height: 3px;
    background-color: #fff;
    transition: width 0.2s ease-in-out, left 0.2s ease-in-out, top 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.opcoesMenu2Aberto .traco1 {
    transform: rotate(250grad);
    top: 24px;
}

.opcoesMenu2Aberto .traco2 {
    width: 0px;
    left: 24px;
    top: 23px;
}

.opcoesMenu2Aberto .traco3 {
    transform: rotate(-250grad);
    top: 24px;
}

.opcoesMenu2Fechado .traco1 {
    top: 12px;
}

.opcoesMenu2Fechado .traco2 {
    top: 23px;
}

.opcoesMenu2Fechado .traco3 {
    top: 34px;
}

/* ========================================= OPCOESMENU2 ========================================== */

[data-id="fundomenu"] {
    position: absolute;
    height: 5000px;
    background-color: rgba(0, 0, 0, 0.618);
    width: 240px;
    top: 50px;
    transition: left 0.2s ease-in-out;
}

.opcoesMenu2Fechado [data-id="fundomenu"] {
    left: -250px;
}

.opcoesMenu2Aberto [data-id="fundomenu"] {
    left: 0px;
}

[data-id="opcoesMenu2"] li a {
    display: block;
    height: 50px;
    line-height: 48px;
    padding: 0px 12px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    color: white;
}

[data-id="opcoesMenu2"] li:hover a {
    color: rgb(213, 192, 107);
    background-color: rgba(255, 255, 255, 0.0618);
}

[data-id="opcoesMenu2"] li ul li a, [data-id="opcoesMenu2"] li:hover ul li a {
    color: black;
    background-color: transparent;
    text-decoration: none;
    background-color: rgb(213, 192, 107);
}

[data-id="opcoesMenu2"] li ul li a:hover {
    background-color: rgba(100, 70, 10);
    color: rgb(213, 192, 107);
}

[data-id="opcoesMenu2"] li ul {
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    max-height: 0;
    z-index: 10000;
    transition: max-height 0.2s ease-in-out;
}

[data-id="opcoesMenu2"] li:hover ul {
    max-height: 150px;
}

[data-id="opcoesMenu2"] li ul:hover {
    overflow: auto;
}

@media screen and (max-width: 650px) {
    [data-id="opcoesMenu"] {
        display: none;
    }
    [data-id="bttMenuOpcoesMenu2"] {
        display: block;
    }
    .topoMenu1 {
        height: 50px;
        background-color: rgba(0, 0, 0, 0);
        border-bottom: solid 2px rgba(255, 255, 255, 0.12);
    }
    .topoMenu1 [data-id="bttLogoMenu"] {
        width: 100px;
    }
    [data-id="bttLogoMenu"] {
        position: absolute;
        float: none;
        left: 50%;
        transform: translateX(-50%);
    }
    .topoMenu1 [data-id="bttSeta"] {
        padding-top: 0px;
    }
}