body, html {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#colorPaintContent {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1920px;
    max-height: 1080px;
}

#janelaPrincipal {
    position: relative;
    width: 100%;
    height: 100%;
}


#barraSuperior {
    position: relative;
    width: 100%;
    height: 90px;
    padding-top: 50px;
    border-bottom: 4px solid rgb(37, 37, 37);
    background-color: rgb(28, 28, 28);
}

#bttCriarNovoProjeto {
    width: 140px;
    float: right;
}

.bttBarraSuperior {
    position: relative;
    top: 5px;
    margin-right: 10px;
    border-radius: 7px;
    background-color: rgb(58, 58, 58);
    color: rgb(158, 158, 158);
    transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
    height: 25px;
    text-align: center;
}

.bttBarraSuperior p{
    line-height: 25px;
    font-size: 11px;
}

.bttBarraSuperior:hover{
    background-color: rgb(15, 15, 15);
    color: rgb(100, 100, 100);
}

#contentTools {
    position: relative;
    width: 100%;
    height: 545px;
    background-color: rgb(20, 20, 20);
}

#barraLateralEsquerda {
    position: relative;
    float: left;
    overflow: hidden;
    width: 120px;
    height: 100%;
    padding-top: 10px;
    max-height: 1440px;
    border-right: 4px solid rgb(37, 37, 37);
    background-color: rgb(51, 51, 51);
}

#ferramentas {
    position: static;
    width: 100%;
    height: 0px;
}

#coresSelecionadas {
    position: relative;
    width: 100%;
    height: 58px;
}

#corPrincipal {
    top: 5px;
    left: 35px;
    background-color: rgb(0, 0, 0);
    z-index: 2;
}

#corPrincipal div {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(255, 255, 255);
}

#corSecundaria {
    top: 20px;
    left: 50px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
}

#corSecundaria div {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(255, 255, 255);
}

#bttAlternaCor {
    position: absolute;
    width: 12px;
    height: 13px;
    top: 39px;
    left: 30px;
    background-image: url("../colorPaint/imagens/icones/iconeAlternaCor.jpg");
    background-repeat: no-repeat;
}

#bttCoresPrincipais {
    position: absolute;
    width: 12px;
    height: 13px;
    top: 3px;
    left: 73px;
    background-image: url("../colorPaint/imagens/icones/iconeCoresPrincipais.jpg");
    background-repeat: no-repeat;
}

#coresSalvas {
    position: relative;
    width: 100px;
    height: auto;
    padding: 10px;
    max-height: 160px;
    overflow-x: auto;
    background-color: rgb(37, 37, 37);
    border-radius: 7px;
    left: 10px;
    top: 10px;
    margin-bottom: 15px;
}

#bttRemoverCorSalva {
    position: relative;
    display: none;
    width: 75px;
    height: 20px;
    left: 22px;
    border-radius: 7px;
    background-color: rgb(80, 80, 80);
    transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
}

#bttRemoverCorSalva p {
    color: rgb(136, 136, 136);
    text-align: center;
    line-height: 18px;
}

#bttRemoverCorSalva:hover {
    background-color: rgb(37, 37, 37);
    color: rgb(110, 110, 110);
}

#contentTelas {
    position: relative;
    float: left;
    overflow: auto;
}

#barraLateralDireita {
    position: relative;
    font-size: 12px;
    overflow: hidden;
    color: rgb(122, 122, 122);
    float: right;
    width: 300px;
    height: 100%;
    padding: 10px;
    max-height: 1440px;
    border-left: 4px solid rgb(37, 37, 37);
    background-color: rgb(51, 51, 51);
}

#janelaPreview {
    height: 170px;
}

#janelaInfo {
    height: 100px;
}

#janelaCamadas {
    height: 200px;
}

.janelasBarraLateralDireita {
    position: relative;
    width: 100%;
    background-color: rgb(37, 37, 37);
    ;
    border-radius: 7px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.janelasBarraLateralDireita label {
    position: absolute;
    z-index: 5;
    width: 70px;
    text-align: center;
    background-color: rgb(37, 37, 37);
    ;
    top: -9px;
    border-radius: 4px;
    left: 10px;
}

.corSalva {
    position: relative;
    display: inline-block;
    width: 21px;
    height: 20px;
    border-radius: 50%;
    margin-left: 12px;
}

.corSalva div {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
}

.corEscolhida {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid rgb(0, 0, 0);
}

/* ============================================= Seletor de cores ============================================= */

#janelaSelecionarCor {
    position: absolute;
    display: none;
    top: 150px;
    left: 140px;
    background-color: rgb(37, 37, 37);
    width: 550px;
    height: 380px;
    border-radius: 7px;
    padding: 10px;
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.349);
    z-index: 10000;
}

#janelaSelecionarCor input[type="text"] {
    width: 100px;
    display: inline-block;
    background: rgba(0, 0, 0, 0);
    color: rgb(173, 173, 173);
    border: none;
    text-align: center;
    font-size: 14px;
    outline: none;
    padding: 2px;
    text-transform: uppercase;
    margin-left: 5px;
    margin-right: 5px;
    border-bottom: 2px solid rgb(153, 153, 153);
}

#janelaSelecionarCor label {
    display: inline-block;
    background: rgba(0, 0, 0, 0);
    color: rgb(173, 173, 173);
    font-size: 12px;
}

#comparaCorAtualEEscolhida {
    width: 100px;
    height: 255px;
    float: left;
    display: block;
}

#corSelecionada {
    width: 100%;
    height: 127.5px;
    display: block;
}

#corAtual {
    width: 100%;
    height: 127.5px;
    display: block;
}

#contentGradienteCor {
    position: relative;
    display: inline-block;
    width: 430px;
    height: 255px;
}

#gradienteCor {
    width: 430px;
    height: 255px;
}

#cursorGradiente {
    top: -10px;
    left: 420px;
}

#cursorGradiente div {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255);
}

#cursorBarra {
    top: 272px;
    left: 0px;
}

#cursorBarra div {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255);
}

#contentBarraeEspectroCor {
    width: 530px;
    height: 20px;
    margin-bottom: 7px;
}

#barraeEspectroCor {
    width: 530px;
    height: 20px;
}

#bttsSelecionarCor {
    width: 530px;
    height: 57px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cursorSeletor {
    position: absolute;
    display: inline-block;
    /* background-color: rgb(255, 0, 0); */
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
}

.botoesNoSelecionarCor {
    display: inline-block;
    width: 90px;
    height: 25px;
    margin-left: 10px;
    margin-top: 21px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 7px;
    color: rgb(173, 173, 173);
    font-size: 11px;
    transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
    background-color: rgb(71, 71, 71);
}

.botoesNoSelecionarCor p {
    line-height: 25px;
}

.botoesNoSelecionarCor:hover {
    background-color: rgb(30, 30, 30);
    color: rgb(110, 110, 110);
}

/* ============================================= FIM Seletor de cores ============================================= */