:root {
    --COR_PRIMARIA: rgb(10, 11, 11);
    --COR_SECUNDARIA: rgb(16, 18, 19);
    --COR_TERCIARIA: rgb(20, 21, 22);
    --COR_QUARTENARIA: rgb(27, 29, 30);
    --COR_BOTAO: rgba(255, 255, 255, 0.07);
    --COR_BOTAO_HOVER: rgba(0, 0, 0, 0.5);
    --COR_BORDA: rgb(20, 21, 22);
}

*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

body, html {
    width: 100%;
    height: 100%;
    overflow: auto;
    scrollbar-width: thin;
}

html {
    overflow: hidden;
}

p {
    margin: 0px;
    padding: 0px;
}

button, input, select {
    font-family: "robotoRegular";
    border: none;
    outline: none;
}

input[type="range"] {
    -webkit-appearance: none;
    background-color: transparent;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 8px;
    border-radius: 8px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-top: -4px;
}

[data-id="colorPaintContent"] {
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 900px;
    min-height: 623px;
    overflow: hidden;
}

[data-id="janelaPrincipal"] {
    position: relative;
    width: 100%;
    height: 100%;
}

[data-id="barraSuperior"] {
    position: relative;
    width: 100%;
    height: 90px;
    padding-top: 50px;
    border-bottom: 4px solid var(--COR_BORDA);
    background-color: var(--COR_SECUNDARIA);
}

[data-id="propriedadesFerramentas"] {
    position: relative;
    display: block;
    left: 92px;
    float: left;
    height: 36px;
    width: auto;
}

[data-id="propriedadesFerramentas"] li {
    position: relative;
    display: block;
    float: left;
    padding: 5px;
    height: 36px;
    border-right: 3px solid var(--COR_TERCIARIA);
    list-style: none;
}

[data-id="propriedadesFerramentas"] li label {
    line-height: 25px;
    font-size: 13px;
    color: rgb(165, 165, 165);
    margin-left: 7px;
}

[data-id="propriedadesFerramentas"] li input[type="text"] {
    width: 35px;
    display: inline-block;
    background: rgba(0, 0, 0, 0);
    color: rgb(173, 173, 173);
    text-align: center;
    font-size: 12px;
    margin-left: 3px;
    margin-right: 3px;
}

[data-id="propriedadesFerramentas"] li div {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 0px;
    overflow: hidden;
    background-color: var(--COR_PRIMARIA);
    top: 36px;
    left: 0px;
    padding: 0px 10px;
    z-index: 2500;
    border-radius: 10px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.4);
    transition: height 160ms ease-in-out;
}

[data-id="propriedadesFerramentas"] li div input[type="range"] {
    width: 260px;
}

[data-id="propriedadesFerramentas"] li div input[type="range"]::-webkit-slider-runnable-track {
    background-color: rgba(213, 192, 107, 0.8)
}

[data-id="propriedadesFerramentas"] li div input[type="range"]::-webkit-slider-thumb {
    border: 2px solid rgba(213, 192, 107, 0.6);
    background-color: rgb(0, 0, 0)
}

[data-id="menuColorPaint"] {
    position: relative;
    float: right;
    list-style: none;
    text-align: center;
}

[data-id="menuColorPaint"] li {
    position: relative;
    color: rgb(165, 165, 165);
    min-height: 36px;
    width: 100px;
    padding-left: 5px;
    padding-right: 5px;
    float: left;
    margin-left: 3px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

[data-id="menuColorPaint"] label {
    font-size: 11px;
    text-transform: uppercase;
}

[data-id="menuColorPaint"] ul {
    width: 130px;
    position: absolute;
    overflow: hidden;
    max-height: 0;
    left: -30px;
    top: 100%;
    list-style: none;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    border-radius: 10px;
    border-top-right-radius: 0px;
    z-index: 1000;
}

[data-id="menuColorPaint"] li:hover ul {
    max-height: 150px;
}

[data-id="menuColorPaint"] li ul li {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(213, 192, 107, 0.95);
    color: rgb(44, 29, 0);
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    width: 100%;
    cursor: pointer;
    margin-left: 0px;
}

[data-id="menuColorPaint"] li ul li:hover {
    background-color: rgba(100, 68, 8, 0.95);
    color: rgb(213, 192, 107);
}

[data-id="menuColorPaint"] li ul li:hover div {
    background-color: rgba(100, 68, 8, 0.85);
    color: rgb(213, 192, 107);
}

[data-id="menuColorPaint"] li:hover {
    background-color: rgba(213, 192, 107, 0.95);
    color: rgb(0, 0, 0);
}

.bttColorPaint {
    position: relative;
    float: right;
    top: 10px;
    min-width: 85px;
    margin-left: 10px;
    border-radius: 25px;
    background-color: var(--COR_BOTAO);
    color: rgba(255, 255, 255, 0.4);
    text-transform: uppercase;
    padding: 0px 10px;
    transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
    height: 25px;
    text-align: center;
    line-height: 25px;
    font-size: 11px;
}

.bttColorPaint:first-child {
    margin-left: 0px;
}

.bttColorPaint:hover {
    background-color: var(--COR_BOTAO_HOVER);
    color: rgba(213, 192, 107, 0.7);
}

.bttColorPaint:focus {
    outline: 0;
}

[data-id="contentTools"] {
    position: relative;
    width: 100%;
    height: 545px;
    background-color: var(--COR_PRIMARIA);
}

[data-id="barraLateralEsquerda"] {
    position: relative;
    float: left;
    overflow: hidden;
    width: 96px;
    height: 100%;
    border-right: 4px solid var(--COR_BORDA);
    background-color: var(--COR_QUARTENARIA);
}

[data-id="ferramentas"] {
    position: relative;
    overflow: hidden;
    width: 94px;
    height: 267px;
    padding: 10px;
}

/* ===================================== FERRAMENTAS ========================================= */

[data-id="pincel"] {
    background-image: url("../colorPaint/imagens/spriteIcons.png");
    background-position: 0px 1px;
}

[data-id="borracha"] {
    background-image: url("../colorPaint/imagens/spriteIcons.png");
    background-position: -35px 1px;
}

[data-id="contaGotas"] {
    background-image: url("../colorPaint/imagens/spriteIcons.png");
    background-position: -315px 1px;
}

[data-id="linha"] {
    background-image: url("../colorPaint/imagens/spriteIcons.png");
    background-position: -70px 0px;
}

[data-id="curva"] {
    background-image: url("../colorPaint/imagens/spriteIcons.png");
    background-position: -105px 0px;
}

[data-id="retangulo"] {
    background-image: url("../colorPaint/imagens/spriteIcons.png");
    background-position: -140px 0px;
}

[data-id="elipse"] {
    background-image: url("../colorPaint/imagens/spriteIcons.png");
    background-position: -175px 0px;
}

[data-id="baldeDeTinta"] {
    background-image: url("../colorPaint/imagens/spriteIcons.png");
    background-position: -210px 0px;
}

[data-id="borrar"] {
    background-image: url("../colorPaint/imagens/spriteIcons.png");
    background-position: -247px 0px;
}

[data-id="desfoque"] {
    background-image: url("../colorPaint/imagens/spriteIcons.png");
    background-position: -280px 0px;
}

[data-id="bttZoomMenos"] {
    background-image: url("/colorPaint/imagens/spriteIcons.png");
    background-position: -350px 0px;
}

[ data-id="bttZoomMais"] {
    background-image: url("/colorPaint/imagens/spriteIcons.png");
    background-position: -385px 0px;
}

[data-id="bttDesfazer"] {
    background-image: url("/colorPaint/imagens/spriteIcons.png");
    background-position: -420px 1px;
}

[data-id="bttRefazer"] {
    background-image: url("../colorPaint/imagens/spriteIcons.png");
    background-position: -455px 1px;
}

.bttHover:hover {
    background-color: rgb(13, 13, 13);
}

.bttFerramentas {
    position: relative;
    width: 35px;
    height: 31px;
    display: inline-block;
    background-color: var(--COR_TERCIARIA);
    border-radius: 10px;
    margin-bottom: -2px;
    transition: background-color 200ms ease-in-out;
}

.bttFerramentasEscolhida {
    width: 35px;
    height: 31px;
    display: inline-block;
    background-color: var(--COR_BOTAO);
    border-radius: 10px;
    margin-bottom: -2px;
}

.semAlteracoes {
    opacity: 0.5;
}

.comAlteracoes {
    cursor: pointer;
}

.comAlteracoes:hover {
    background-color: rgb(13, 13, 13);
}

[data-id="coresSelecionadas"] {
    position: relative;
    width: 56px;
    height: 47px;
    left: 50%;
    transform: translateX(-50%);
}

[data-id="corPrincipal"] {
    top: 0px;
    left: 4px;
    background-color: rgb(0, 0, 0);
    z-index: 2;
}

[data-id="corSecundaria"] {
    top: 15px;
    left: 20px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
}

.corEscolhida {
    position: absolute;
    width: 33px;
    height: 33px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
}

.corEscolhida div {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
}

[data-id="bttAlternaCor"] {
    position: absolute;
    width: 12px;
    height: 13px;
    top: 36px;
    left: 3px;
    background-image: url("/colorPaint/imagens/spriteIcons.png");
    background-position: -505px -1px;
}

[data-id="bttCoresPrincipais"] {
    position: absolute;
    width: 12px;
    height: 13px;
    top: -2px;
    left: 41px;
    background-image: url("/colorPaint/imagens/spriteIcons.png");
    background-position: -490px 1px;
}

[data-id="coresSalvas"] {
    position: relative;
    width: 72px;
    height: auto;
    padding: 10px;
    max-height: 134px;
    overflow-x: auto;
    scrollbar-width: thin;
    background-color: var(--COR_TERCIARIA);
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
    margin-bottom: 15px;
}

[data-id="bttRemoverCorSalva"] {
    position: relative;
    display: none;
    width: 72px;
    height: 25px;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    border-radius: 25px;
    background-color: var(--COR_BOTAO);
    color: rgba(255, 255, 255, 0.4);
    transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
    line-height: 25px;
    font-size: 11px;
}

[data-id="bttRemoverCorSalva"]:hover {
    background-color: var(--COR_BOTAO_HOVER);
    color: rgba(213, 192, 107, 0.7);
}

[data-id="bttAtalhos"] {
    position: absolute;
    display: inline-block;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 25px;
    background-color: var(--COR_BOTAO);
    color: rgba(255, 255, 255, 0.4);
    text-transform: uppercase;
    font-family: "robotoRegular";
    padding: 0px 10px;
    transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
    height: 25px;
    min-width: 72px;
    text-align: center;
    line-height: 25px;
    font-size: 11px;
}

[data-id="bttAtalhos"]:hover {
    background-color: var(--COR_BOTAO_HOVER);
    color: rgba(213, 192, 107, 0.7);
}

[data-id="contentCentro"] {
    position: relative;
    float: left;
}

[data-id="contentTelas"] {
    position: relative;
    width: 100%;
    overflow: auto;
    scrollbar-width: thin;
}

[data-id="telasCanvas"] {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: 3px;
}

[data-id="desenho"] {
    z-index: -1;
}

[data-id="corFundo"] {
    z-index: 0;
}

[data-id="pintar"] {
    z-index: 3;
}

[data-id="grid"] {
    opacity: 0.85;
    z-index: 50;
}

.quadrado {
    position: relative;
    float: left;
    border-top: solid 1px rgb(255, 255, 255);
    border-left: solid 1px rgb(255, 255, 255);
}

.quadrado div {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 100%;
    height: 100%;
    border-top: dashed 1px rgb(0, 0, 0);
    border-left: dashed 1px rgb(0, 0, 0);
}

[data-id="sobrepor"] {
    z-index: 1000;
}

.telaCanvas {
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

[data-id="barraInferior"] {
    display: block;
    width: 100%;
    height: 15px;
    background-color: var(--COR_TERCIARIA);
}

[data-id="barraInferior"] input {
    width: 70px;
    height: 15px;
    float: left;
    background: var(--COR_SECUNDARIA);
    color: rgb(131, 131, 131);
    border-right: 2px solid rgb(60, 60, 60);
    text-align: center;
    font-size: 11px;
    line-height: 20px;
    padding: 2px;
    text-transform: uppercase;
    margin-right: 5px;
}

[data-id="barraInferior"] label {
    color: rgb(145, 145, 145);
    line-height: 16px;
    float: left;
    font-size: 11px;
    margin-left: 10px;
}

[data-id="barraLateralDireita"] {
    position: relative;
    font-size: 12px;
    color: rgb(119, 119, 119);
    float: right;
    width: 300px;
    height: 100%;
    padding: 10px;
    border-left: 4px solid var(--COR_BORDA);
    background-color: var(--COR_QUARTENARIA);
}

[data-id="janelaPreview"] {
    height: 170px;
}

[data-id="contentPreview"] {
    position: relative;
    display: block;
    width: 256px;
    height: 150px;
}

[data-id="contentTelaPreview"] {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

[data-id="telaPreview"] {
    z-index: -1;
}

[data-id="fundoPreview"] {
    z-index: 0;
}

.preview {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

[data-id="moverScroll"] {
    position: absolute;
    display: none;
    z-index: 20;
    top: 0;
    left: 0;
    border: 1px solid rgb(0, 0, 0);
    outline: 1px dashed rgb(255, 255, 255);
    outline-offset: -1px;
    width: 30px;
    height: 30px;
}

[data-id="janelaInfo"] {
    height: 80px;
}

[data-id="contentInfo"] {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 3px;
    padding-left: 20px;
}

[data-id="contentInfo"] input {
    width: 100px;
    display: inline-block;
    background: rgba(0, 0, 0, 0);
    color: rgb(173, 173, 173);
    text-align: center;
    font-size: 11px;
    padding: 1px;
    text-transform: uppercase;
    margin-left: 5px;
    margin-right: 5px;
}

[data-id="contentIconeCamadas"] {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
}

[data-id="contentBarraOpacidadeCamada"] {
    display: none;
    height: 33px;
}

.propriedadesCamada label {
    line-height: 25px;
    font-size: 13px;
    color: rgb(131, 131, 131);
    margin-left: 3px;
}

[data-id="contentBarraOpacidadeCamada"] input[type="range"] {
    position: relative;
    width: 100%;
}

[data-id="contentBarraOpacidadeCamada"] input[type="range"]::-webkit-slider-runnable-track {
    background-color: rgba(0, 0, 0, 0.7);
}

[data-id="contentBarraOpacidadeCamada"] input[type="range"]::-webkit-slider-thumb {
    border: 2px solid rgba(0, 0, 0, 0.9);
    background-color: rgb(153, 138, 76);
}

.cursorPropriedadeCamada {
    position: absolute;
    border-radius: 50%;
    top: -3px;
    left: 193px;
    width: 15px;
    height: 15px;
    background-color: rgb(131, 131, 131);
    border: 1px solid rgb(0, 0, 0)
}

.janelasBarraLateralDireita {
    position: relative;
    width: 100%;
    background-color: var(--COR_TERCIARIA);
    border-radius: 10px;
    margin-bottom: 11px;
    padding: 10px;
}

.janelasBarraLateralDireita:first-child {
    margin-top: 1px;
}

.titulosBarraDireita {
    position: absolute;
    text-align: center;
    background-color: var(--COR_TERCIARIA);
    padding-left: 10px;
    padding-right: 10px;
    top: -7px;
    border-radius: 5px;
    left: 10px;
}

.corSalva {
    position: relative;
    float: left;
    width: 21px;
    height: 20px;
    margin-bottom: 4px;
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
}

.corSalva:nth-child(odd) {
    margin-right: 4px;
}

.corSalva div {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
}

/* ==================================== JANELA PARA ADICIONAR GRID ================================= */

[data-id="contentJanelaMenuGrid"] {
    position: absolute;
    display: none;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 10000000;
    overflow: hidden;
}

[data-id="janelaMenuGrid"] {
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 270px;
    background-color: var(--COR_TERCIARIA);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.4);
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}

/* ============================================= Seletor de cores ============================================= */

[data-id="janelaSelecionarCor"] {
    position: absolute;
    display: none;
    top: 100px;
    left: 106px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    background-color: var(--COR_TERCIARIA);
    width: 560px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.4);
    z-index: 9998;
}

[data-id="janelaSelecionarCor"] input[type="text"] {
    width: 100px;
    display: inline-block;
    background: rgba(0, 0, 0, 0);
    color: rgb(173, 173, 173);
    text-align: center;
    font-size: 14px;
    padding: 2px;
    text-transform: uppercase;
    margin-left: 5px;
    border: 2px solid rgba(255, 255, 255, 0.15);
    border-radius: 25px;
}

[data-id="janelaSelecionarCor"] label {
    display: inline-block;
    background: rgba(0, 0, 0, 0);
    color: rgb(173, 173, 173);
    font-size: 12px;
}

[data-id="comparaCorAtualEEscolhida"] {
    width: 100px;
    height: 255px;
    float: left;
    display: block;
}

.comparacores {
    width: 100%;
    height: 127.5px;
    display: block;
}

[data-id="contentGradienteCor"] {
    position: relative;
    display: inline-block;
    width: 440px;
    height: 255px;
}

.canvasSelecionarCor {
    width: 100%;
    height: 100%;
}

[data-id="contentBarraeEspectroCor"] {
    position: relative;
    height: 20px;
    margin-top: 3px;
}

[data-id="InputsjanelaSelecionarCor"] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 45px;
}

.cursorSeletor {
    position: absolute;
    z-index: 3;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
}

.cursorSeletor div {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255);
}

/* ==========================================Janela de amostra da camada============================================= */

[data-id="janelaDeAmostraDaCamada"] {
    position: absolute;
    display: none;
    opacity: 0;
    right: 297px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    background-color: var(--COR_PRIMARIA);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.4);
    z-index: 9997;
    transition: opacity 150ms ease-in-out;
}

[data-id="janelaDeAmostraDaCamada"] canvas {
    background-image: url("/colorPaint/imagens/fundoTela/transparente.png");
    position: relative;
    vertical-align: bottom;
}

[data-id="janelaDeAmostraDaCamada"] div {
    position: absolute;
    width: 25px;
    height: 25px;
    z-index: -1;
    background-color: var(--COR_PRIMARIA);
    bottom: 19px;
    right: -9px;
    transform: rotate(-45deg);
}

/* ============================================= Criar/abrir projeto ============================================= */

[data-id="contentCriarAbrirProjeto"] section {
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
}

[data-id="janelaCriarProjeto"] {
    border: 2px solid rgba(255, 255, 255, 0.4);
}

[data-id="janelaAbrirProjeto"] {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 50%;
    min-width: 350px;
    min-height: 300px;
}

[data-id="contentCriarAbrirProjeto"] p {
    margin-bottom: 16px;
    text-align: center;
    color: rgba(255, 255, 255, 0.65);
}

[data-id="contentCriarAbrirProjeto"] button {
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    padding: 0px 15px;
    min-width: 330px;
    margin-top: 10px;
    text-align: center;
    line-height: 35px;
    height: 35px;
    font-size: 14px;
    border-radius: 30px;
    color: rgba(255, 255, 255, 0.55);
    transition: background-color 150ms ease-in-out, box-shadow 150ms ease-in-out, color 150ms ease-in-out;
}

[data-id="contentCriarAbrirProjeto"] button:hover {
    background-color: rgba(255, 255, 255, 0.25);
    color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 5px 20px rgba(255, 255, 255, 0.25);
}

[data-id="contentCriarAbrirProjeto"] ul li input, [data-id="contentCriarAbrirProjeto"] select {
    height: 35px;
    font-size: 15px;
    text-align: center;
    border-radius: 30px;
    border: 2px solid rgb(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.6);
    background-color: transparent;
    transition: opacity 150ms ease-in-out, border 150ms ease-in-out, box-shadow 150ms ease-in-out;
}

[data-id="contentCriarAbrirProjeto"] option {
    background-color: rgb(15, 15, 15);
}

[data-id="contentCriarAbrirProjeto"] input:focus, [data-id="contentCriarAbrirProjeto"] select:focus {
    box-shadow: 0px 5px 20px rgba(255, 255, 255, 0.25);
    border: 2px solid rgb(255, 255, 255, 0.5);
}

.dragEnter {
    color: rgba(213, 192, 107, 0.8);
    border: 2px dashed rgba(213, 192, 107, 0.8);
}

.dragLeave {
    color: rgba(255, 255, 255, 0.6);
    border: 2px dashed rgba(255, 255, 255, 0.6);
}

/* ================================================= carregamento ================================================= */

[data-id="logoCarregamento"] {
    position: relative;
    background-image: url(../topoMenu/imagens/LogoGMwhite.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 72.222%;
    opacity: 0;
    width: 306px;
    height: 170px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* =============================================== fim carregamento =============================================== */

[data-id="cursorComparaContaGotas"] {
    position: absolute;
    display: none;
    width: 250px;
    height: 250px;
    z-index: 100;
    border: 25px solid rgb(127, 127, 127);
    border-radius: 50%;
    cursor: url("../colorPaint/imagens/cursor/cursorContaGotas.png") 0 20, pointer;
}

[data-id="comparaCoresContaGotas"] {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: rotate(45deg);
}

[data-id="cursorFerramenta"] {
    display: none;
    position: absolute;
    border-radius: 50%;
    z-index: 1001;
    background-image: url("../colorPaint/imagens/cursor/centerCrossHair.png");
    background-position: center;
    background-repeat: no-repeat;
    cursor: none;
}

[data-id="cursorFerramenta"] div {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.bordaCursor {
    border: 1px solid black;
}

.bordaCursor div {
    border: 1px solid white;
}

.camadas {
    position: relative;
    width: 100%;
    height: 60px;
    padding: 0px;
    font-weight: bold;
    margin-bottom: 7px;
    background-color: rgb(0, 0, 0);
    color: rgb(104, 104, 104);
    border-radius: 10px;
}

.camadaSelecionada {
    position: relative;
    width: 100%;
    height: 60px;
    padding: 0px;
    margin-bottom: 7px;
    font-weight: bold;
    background-color: rgba(115, 99, 35, 0.8);
    color: rgb(0, 0, 0);
    border-radius: 10px;
}

.camadaSelecionada:last-child {
    margin-bottom: 0px;
}

.camadas:last-child {
    margin-bottom: 0px;
}

.camadas input[type=text] {
    color: rgb(104, 104, 104);
}

.camadaSelecionada input[type=text] {
    color: rgb(0, 0, 0);
}

.camadas:hover {
    background-color: var(--COR_PRIMARIA);
}

.camadas label {
    position: absolute;
    top: 10px;
    left: 50px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
}

.camadaSelecionada label {
    position: absolute;
    top: 10px;
    left: 50px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
}

.contentIcon {
    position: relative;
    width: 80px;
    height: 60px;
    margin-right: 10px;
    float: right;
}

.contentIcon div {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.iconVer {
    position: relative;
    float: left;
    border-radius: 10px;
    border: 1px solid var(--COR_PRIMARIA);
    background-color: rgb(91, 91, 91);
    height: 25px;
    width: 25px;
    top: 17px;
    left: 10px;
}

.iconNaoVer {
    position: relative;
    float: left;
    border-radius: 10px;
    border: 1px solid rgb(91, 91, 91);
    background-color: rgb(15, 15, 15);
    height: 25px;
    width: 25px;
    top: 17px;
    left: 10px;
}

.nomeCamada {
    position: relative;
    top: 10px;
    left: 30px
}

.opacidadeCamada {
    width: 38px;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    font-family: "robotoRegular";
    border: none;
    font-weight: bold;
}

.iconTela {
    position: relative;
    top: 50%;
    float: right;
    transform: translateY(-50%);
}

.contentJanelas {
    position: absolute;
    display: none;
    opacity: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 10000002;
    background-color: rgba(0, 0, 0, 0.55);
    transition: backdrop-filter 330ms ease-in-out, opacity 330ms ease-in-out;
}

.applyBackDropBlur {
    backdrop-filter: blur(9px);
}

.janelas {
    position: relative;
    overflow: hidden;
    background-color: var(--COR_TERCIARIA);
    width: 350px;
    height: auto;
    border-radius: 10px;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.4);
}

.barraMoverJanela {
    position: absolute;
    width: 100%;
    height: 10px;
    top: 0px;
    left: 0px;
    cursor: move;
}

.tituloJanela {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border-bottom: 2px solid var(--COR_BOTAO);
    height: 36px;
    color: rgba(255, 255, 255, 0.4);
}

.conteudoJanela {
    position: relative;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteudoJanela ul {
    position: relative;
    display: inline-block;
    list-style: none;
}

.conteudoJanela ul li {
    display: block;
    margin-bottom: 8px;
}

.conteudoJanela ul li label, .conteudoJanela p {
    font-size: 14px;
    text-align: center;
    color: rgba(255, 255, 255, 0.55);
}

.conteudoJanela input, select {
    font-size: 14px;
    padding: 2px;
    text-align: center;
    background-color: var(--COR_TERCIARIA);
    color: rgb(200, 200, 200);
    margin-left: 8px;
    border: 2px solid rgba(255, 255, 255, 0.15);
    border-radius: 25px;
}

.conteudoJanela input[type=number] {
    width: 65px;
}

.bttsJanela {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 38px;
    border-top: 2px solid var(--COR_BOTAO);
}

.atalhos ul li {
    margin-bottom: 3px;
}

[data-id="contentNotificacao"] {
    position: absolute;
    z-index: 10000001;
    display: none;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    overflow: hidden;
    transition: backdrop-filter 350ms ease-in-out;
}

[data-id="notificacao"] {
    position: absolute;
    bottom: -150px;
    right: 10px;
    min-width: 276px;
    max-width: 350px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.4);
    transition: bottom 350ms ease-in-out, opacity 450ms ease-in-out;
}