::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

*::-webkit-scrollbar-thumb {
    min-height: 28px;
    background: rgb(185, 185, 185);
}

*::-webkit-scrollbar-track {
    background: rgb(119, 119, 119);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(102, 102, 102);
}

body, html {
    width: 100%;
    height: 100%;
    overflow: auto;
}

p {
    margin: 0px;
    padding: 0px;
}

#colorPaintContent {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1920px;
    min-width: 1000px;
    max-height: 1080px;
    min-height: 630px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

#janelaPrincipal {
    position: relative;
    width: 100%;
    height: 100%;
}

#barraSuperior {
    position: relative;
    width: 100%;
    height: 90px;
    padding-top: 50px;
    border-bottom: 4px solid rgb(37, 37, 37);
    background-color: rgb(28, 28, 28);
}

#propriedadesFerramentas {
    position: relative;
    display: block;
    left: 90px;
    float: left;
    height: 36px;
    width: auto;
}

#propriedadesFerramentas li {
    position: relative;
    display: block;
    float: left;
    padding: 5px;
    height: 36px;
    border-right: 3px solid rgb(49, 49, 49);
    list-style: none;
}

#propriedadesFerramentas li ul {
    position: absolute;
    display: block;
    height: 0px;
    overflow: hidden;
    top: 36px;
    list-style: none;
    z-index: 2500;
    border-radius: 5px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.45);
    transition: height 180ms ease-in-out;
}

#propriedadesFerramentas li ul li {
    width: 220px;
    border-right: none;
    background-color: rgb(37, 37, 37);
}

#propriedadesFerramentas input[type="text"] {
    width: 35px;
    display: inline-block;
    background: rgba(0, 0, 0, 0);
    color: rgb(173, 173, 173);
    border: none;
    text-align: center;
    font-size: 12px;
    outline: none;
    margin-left: 3px;
    margin-right: 3px;
}

#propriedadesFerramentas label {
    line-height: 25px;
    font-size: 13px;
    color: rgb(165, 165, 165);
    margin-left: 7px;
}

.barraPropriedade {
    position: relative;
    width: 190px;
    height: 13px;
    border-radius: 10px;
    border: 1px solid rgb(100, 100, 100);
    background-color: rgb(58, 58, 58);
    margin-left: 10px;
    margin-top: 6px;
}

.cursorPropriedade {
    position: absolute;
    border-radius: 50%;
    top: -2px;
    left: -7px;
    width: 15px;
    height: 15px;
    background-color: rgb(10, 10, 10);
    border: 1px solid rgb(102, 102, 102);
}

#cursorTamanho {
    left: -2px;
}

#cursorOpacidade {
    left: 183px;
}

#cursorDureza {
    left: 183px;
}

#salvarDesenhoProjeto {
    position: relative;
    float: right;
    list-style: none;
    text-align: center;
}

#salvarDesenhoProjeto li {
    color: rgb(165, 165, 165);
    height: 36px;
    width: 100px;
    padding-left: 5px;
    padding-right: 5px;
    transition: all 0.35s;
    -webkit-transition: all 0.35s;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#salvarDesenhoProjeto label {
    line-height: 36px;
    font-size: 11px;
    text-transform: uppercase;
}

#salvarDesenhoProjeto ul {
    width: 120px;
    position: absolute;
    overflow: hidden;
    max-height: 0;
    left: -20px;
    list-style: none;
    transition: all 0.35s;
    -webkit-transition: all 0.35s;
    border-radius: 5px;
    border-top-right-radius: 0px;
    z-index: 9000;
}

#salvarDesenhoProjeto ul li {
    background-color: rgba(213, 192, 107, 0.85);
    color: rgb(44, 29, 0);
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    width: 100%;
}

#salvarDesenhoProjeto ul li:hover {
    background-color: rgba(100, 68, 8, 0.85);
    color: rgb(213, 192, 107);
}

#salvarDesenhoProjeto:hover li {
    background-color: rgba(213, 192, 107, 0.85);
    color: rgb(0, 0, 0);
}

#salvarDesenhoProjeto:hover ul {
    max-height: 120px;
}

.bttBarraSuperior {
    position: relative;
    float: right;
    top: 5px;
    margin-right: 5px;
    border-radius: 7px;
    background-color: rgb(58, 58, 58);
    color: rgb(165, 165, 165);
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
    height: 25px;
    text-align: center;
}

.bttBarraSuperior p {
    line-height: 25px;
    font-size: 11px;
}

.bttBarraSuperior:hover {
    background-color: rgb(10, 10, 10);
    color: rgba(213, 192, 107, 0.65);
}

#contentTools {
    position: relative;
    width: 100%;
    height: 545px;
    background-color: rgb(20, 20, 20);
}

#barraLateralEsquerda {
    position: relative;
    float: left;
    overflow: hidden;
    width: 100px;
    height: 100%;
    max-height: 1440px;
    border-right: 4px solid rgb(37, 37, 37);
    background-color: rgb(51, 51, 51);
}

#ferramentas {
    position: relative;
    overflow: hidden;
    width: 100px;
    left: 0px;
    height: auto;
    padding: 12px;
}

/* ===================================== FERRAMENTAS ========================================= */

#pincel {
    background-image: url("../colorPaint/imagens/icones/ferramentaPincel.png");
}

#borracha {
    background-image: url("../colorPaint/imagens/icones/ferramentaBorracha.png");
}

#contaGotas {
    background-image: url("../colorPaint/imagens/icones/ferramentaContaGotas.png");
}

#linha {
    background-image: url("../colorPaint/imagens/icones/ferramentaLinha.png");
}

#curva {
    background-image: url("../colorPaint/imagens/icones/ferramentaCurva.png");
}

#retangulo {
    background-image: url("../colorPaint/imagens/icones/ferramentaRetangulo.png");
}

#elipse {
    background-image: url("../colorPaint/imagens/icones/ferramentaElipse.png");
}

#baldeDeTinta {
    background-image: url("../colorPaint/imagens/icones/ferramentaBaldeDeTinta.png");
}

#bttZoomMenos {
    background-image: url("../colorPaint/imagens/icones/zoomMenos.png");
}

#bttZoomMais {
    background-image: url("../colorPaint/imagens/icones/zoomMais.png");
}

#bttDesfazer {
    background-image: url("../colorPaint/imagens/icones/iconeDesfazer.png");
}

#bttRefazer {
    background-image: url("../colorPaint/imagens/icones/iconeRefazer.png");
}

.bttHover:hover {
    background-color: rgb(13, 13, 13);
}

.bttFerramentas {
    width: 35px;
    height: 30px;
    display: inline-block;
    background-color: rgb(37, 37, 37);
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: 50%;
}

.bttFerramentasEscolhida {
    width: 35px;
    height: 30px;
    display: inline-block;
    background-color: rgb(13, 13, 13);
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: 50%;
}

#coresSelecionadas {
    position: relative;
    width: 100%;
    height: 58px;
}

#corPrincipal {
    top: 5px;
    left: 25px;
    background-color: rgb(0, 0, 0);
    z-index: 2;
}

#corPrincipal div {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(255, 255, 255);
}

#corSecundaria {
    top: 20px;
    left: 40px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
}

#corSecundaria div {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(255, 255, 255);
}

#bttAlternaCor {
    position: absolute;
    width: 12px;
    height: 13px;
    top: 39px;
    left: 23px;
    background-image: url("../colorPaint/imagens/icones/iconeAlternaCor.jpg");
    background-repeat: no-repeat;
}

#bttCoresPrincipais {
    position: absolute;
    width: 12px;
    height: 13px;
    top: 3px;
    left: 60px;
    background-image: url("../colorPaint/imagens/icones/iconeCoresPrincipais.jpg");
    background-repeat: no-repeat;
}

#coresSalvas {
    position: relative;
    width: 80px;
    height: auto;
    padding: 7px;
    max-height: 120px;
    overflow-x: auto;
    background-color: rgb(37, 37, 37);
    border-radius: 7px;
    left: 10px;
    top: 10px;
    margin-bottom: 15px;
}

#bttRemoverCorSalva {
    position: relative;
    display: none;
    width: 75px;
    height: 20px;
    left: 12px;
    border-radius: 7px;
    background-color: rgb(80, 80, 80);
    transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
}

#bttAtalhos {
    position: absolute;
    display: inline-block;
    bottom: 10px;
    left: 12px;
    border-radius: 7px;
    background-color: rgb(80, 80, 80);
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
    height: 25px;
    text-align: center;
}

#bttAtalhos p {
    color: rgb(156, 156, 156);
    font-size: 12px;
    text-align: center;
    line-height: 25px;
}

#bttAtalhos:hover {
    background-color: rgb(37, 37, 37);
    color: rgb(110, 110, 110);
}

#bttRemoverCorSalva p {
    color: rgb(136, 136, 136);
    text-align: center;
    line-height: 18px;
}

#bttRemoverCorSalva:hover {
    background-color: rgb(37, 37, 37);
    color: rgb(110, 110, 110);
}

#contentCentro {
    position: relative;
    float: left;
}

#contentTelas {
    position: relative;
    width: 100%;
    overflow: auto;
    cursor: url("../colorPaint/imagens/cursor/circle.png") 10 10, pointer;
}

#telasCanvas {
    position: relative;
    display: inline-block;
    background-image: url("../colorPaint/imagens/fundoTela/transparente.png");
    background-color: rgb(255, 255, 255);
    margin-right: 10px;
}

#desenho {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#corFundo {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#pintar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 3;
}

#sobrepor {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#barraInferior {
    display: none;
    width: 100%;
    height: 15px;
    background-color: rgb(37, 37, 37);
}

#barraInferior input {
    width: 70px;
    height: 15px;
    float: left;
    background: rgb(27, 27, 27);
    color: rgb(131, 131, 131);
    border: none;
    border-right: 2px solid rgb(60, 60, 60);
    text-align: center;
    font-size: 11px;
    line-height: 20px;
    outline: none;
    padding: 2px;
    text-transform: uppercase;
    margin-right: 5px;
}

#barraInferior label {
    color: rgb(145, 145, 145);
    line-height: 16px;
    float: left;
    font-size: 11px;
    margin-left: 10px;
}

#barraLateralDireita {
    position: relative;
    font-size: 12px;
    overflow: hidden;
    overflow-y: auto;
    color: rgb(151, 151, 151);
    float: right;
    width: 300px;
    height: 100%;
    padding: 10px;
    max-height: 1440px;
    border-left: 4px solid rgb(37, 37, 37);
    background-color: rgb(51, 51, 51);
}

#janelaPreview {
    height: 170px;
}

#contentPreview {
    position: relative;
    display: block;
    width: 256px;
    height: 150px;
}

#contentTelaPreview {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#telaPreview {
    position: relative;
    width: 100%;
    height: 100%;
}

#moverScroll {
    position: absolute;
    display: none;
    z-index: 2;
    top: 0;
    left: 0;
    border: 1px solid rgb(0, 0, 0);
    width: 30px;
    height: 30px;
}

#moverScroll div {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid rgb(255, 255, 255);
}

#janelaInfo {
    height: 90px;
}

#contentInfo {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 7px;
    padding-left: 24px;
}

#contentInfo input {
    width: 100px;
    display: inline-block;
    background: rgba(0, 0, 0, 0);
    color: rgb(173, 173, 173);
    border: none;
    text-align: center;
    font-size: 11px;
    outline: none;
    padding: 1px;
    text-transform: uppercase;
    margin-left: 5px;
    margin-right: 5px;
}

#janelaCamadas {
    height: 200px;
}

#contentIconeCamadas {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
}

#propriedadeOpacidadeCamada {
    display: none;
    flex-direction: row;
    align-items: center;
    float: left;
    height: 10px;
    width: 325px;
}

.propriedadesCamada label {
    line-height: 25px;
    font-size: 13px;
    color: rgb(131, 131, 131);
    margin-left: 3px;
}

.barraPropriedadeCamada {
    position: relative;
    width: 200px;
    height: 10px;
    border-radius: 10px;
    border: 1px solid rgb(100, 100, 100);
    background-color: rgb(20, 20, 20);
    margin-left: 10px;
}

.cursorPropriedadeCamada {
    position: absolute;
    border-radius: 50%;
    top: -3px;
    left: 193px;
    width: 15px;
    height: 15px;
    background-color: rgb(131, 131, 131);
    border: 1px solid rgb(0, 0, 0)
}

.janelasBarraLateralDireita {
    position: relative;
    width: 100%;
    background-color: rgb(37, 37, 37);
    border-radius: 7px;
    margin-top: 5px;
    padding: 10px;
    margin-bottom: 15px;
}

.tituloJanelas {
    position: absolute;
    z-index: 5;
    text-align: center;
    background-color: rgb(37, 37, 37);
    padding-left: 10px;
    padding-right: 10px;
    top: -9px;
    border-radius: 4px;
    left: 10px;
}

.corSalva {
    position: relative;
    display: inline-block;
    width: 21px;
    height: 20px;
    border-radius: 50%;
    margin-left: 7px;
}

.corSalva div {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
}

.corEscolhida {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid rgb(0, 0, 0);
}

/* =========================================== JANELA CRIAR PROJETO ==========================================  */

#contentJanelaCriarProjeto {
    position: absolute;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 10000001;
    background-color: rgba(0, 0, 0, 0.44);
}

#janelaCriarProjeto {
    position: relative;
    overflow: hidden;
    background-color: rgb(37, 37, 37);
    width: 350px;
    height: 290px;
    border-radius: 7px;
    padding: 10px;
}

#tituloJanelaCriarProjeto {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgb(61, 61, 61);
    height: 35px;
    color: rgb(151, 151, 151);
}

#contentPropriedadesProjeto {
    position: relative;
    width: 330px;
    height: 201px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgb(61, 61, 61);
    margin-bottom: 4px;
}

#contentPropriedadesProjeto ul {
    position: relative;
    display: inline-block;
    list-style: none;
}

#contentPropriedadesProjeto ul li {
    display: block;
    margin-bottom: 10px;
}

#contentPropriedadesProjeto ul li label {
    font-size: 13.5px;
    color: rgb(151, 151, 151);
}

#contentPropriedadesProjeto ul li input, select {
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(121, 121, 121);
    font-size: 13.5px;
    text-align: center;
    background-color: rgb(37, 37, 37);
    color: rgb(200, 200, 200);
    margin-left: 7px;
}

#contentPropriedadesProjeto input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#contentPropriedadesProjeto input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
    width: 55px;
}

#botoesCriarProjeto {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 330px;
    height: 35px;
}

/* ========================================= FIM JANELA CRIAR PROJETO ========================================  */

#contentJanelaAtalhos {
    position: absolute;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 10000001;
    background-color: rgba(0, 0, 0, 0.44);
}

#janelaAtalhos {
    position: relative;
    overflow: hidden;
    background-color: rgb(37, 37, 37);
    width: 350px;
    height: 360px;
    border-radius: 7px;
    padding: 10px;
}

#tituloJanelaAtalhos {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgb(61, 61, 61);
    height: 35px;
    color: rgb(151, 151, 151);
}

#contentAtalhos {
    position: relative;
    width: 330px;
    height: 271px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgb(61, 61, 61);
    margin-bottom: 4px;
}

#contentAtalhos ul {
    position: relative;
    display: inline-block;
    list-style: none;
}

#contentAtalhos ul li label {
    font-size: 13.5px;
    color: rgb(151, 151, 151);
}

#botoesAtalhos {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 330px;
    height: 35px;
}

#bttOkAtalhos {
    width: 100px;
}

/* ============================================= Seletor de cores ============================================= */

#janelaSelecionarCor {
    position: absolute;
    display: none;
    top: 150px;
    left: 140px;
    border-top: 1px solid rgb(65, 65, 65);
    background-color: rgb(37, 37, 37);
    width: 550px;
    height: 380px;
    border-radius: 7px;
    padding: 10px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.45);
    z-index: 9998;
}

#janelaSelecionarCor input[type="text"] {
    width: 100px;
    display: inline-block;
    background: rgba(0, 0, 0, 0);
    color: rgb(173, 173, 173);
    border: none;
    text-align: center;
    font-size: 14px;
    outline: none;
    padding: 2px;
    text-transform: uppercase;
    margin-left: 5px;
    margin-right: 5px;
    border-bottom: 2px solid rgb(121, 121, 121);
}

#janelaSelecionarCor label {
    display: inline-block;
    background: rgba(0, 0, 0, 0);
    color: rgb(173, 173, 173);
    font-size: 12px;
}

#comparaCorAtualEEscolhida {
    width: 100px;
    height: 255px;
    float: left;
    display: block;
}

#corSelecionada {
    width: 100%;
    height: 127.5px;
    display: block;
}

#corAtual {
    width: 100%;
    height: 127.5px;
    display: block;
}

#contentGradienteCor {
    position: relative;
    display: inline-block;
    width: 430px;
    height: 255px;
}

#gradienteCor {
    width: 430px;
    height: 255px;
}

#cursorGradiente {
    top: -10px;
    left: 420px;
}

#cursorGradiente div {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255);
}

#cursorBarra {
    top: 272px;
    left: 0px;
}

#cursorBarra div {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255);
}

#contentBarraeEspectroCor {
    width: 530px;
    height: 20px;
    margin-bottom: 7px;
}

#barraeEspectroCor {
    width: 530px;
    height: 20px;
}

#bttsSelecionarCor {
    width: 530px;
    height: 57px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cursorSeletor {
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
}

.botoesNoSelecionarCor {
    display: inline-block;
    width: 90px;
    height: 25px;
    margin-left: 10px;
    margin-top: 21px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 7px;
    color: rgb(173, 173, 173);
    font-size: 11px;
    transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
    background-color: rgb(71, 71, 71);
}

.botoesNoSelecionarCor p {
    line-height: 25px;
}

.botoesNoSelecionarCor:hover {
    background-color: rgb(10, 10, 10);
    color: rgba(213, 192, 107, 0.479);
}

/* ============================================= FIM Seletor de cores ============================================= */

/* ================================================= carregamento ================================================= */

#carregamento {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 10000001;
    transition: opacity 1.2s ease-in-out;
}

#logoCarregamento {
    position: relative;
    background-image: url(../imagens/topoMenu/LogoGMwhite.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 72.222%;
    opacity: 0;
    width: 270px;
    height: 150px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* =============================================== fim carregamento =============================================== */

#cursorComparaContaGotas {
    display: none;
    position: absolute;
    width: 250px;
    height: 250px;
    z-index: 30;
    border: 25px solid rgb(127, 127, 127);
    border-radius: 50%;
    cursor: url("../colorPaint/imagens/cursor/cursorContaGotas.png") 0 20, pointer;
}

#comparaCoresContaGotas {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: rotate(45deg);
}

.camadas {
    position: relative;
    width: 100%;
    height: 80px;
    padding: 0px;
    border-top: 1px solid rgb(65, 65, 65);
    font-weight: bold;
    margin-bottom: 7px;
    background-color: rgb(0, 0, 0);
    color: rgb(104, 104, 104);
    border-radius: 4px;
}

.camadaSelecionada {
    position: relative;
    width: 100%;
    height: 80px;
    padding: 0px;
    border-top: 1px solid rgb(10, 10, 10);
    margin-bottom: 7px;
    font-weight: bold;
    background-color: rgba(115, 99, 35, 0.8);
    color: rgb(0, 0, 0);
    border-radius: 4px;
}

.camadas input[type=text] {
    color: rgb(104, 104, 104);
}

.camadaSelecionada input[type=text] {
    color: rgb(0, 0, 0);
}

.camadas:hover {
    background-color: rgb(20, 20, 20);
}

.camadas label {
    position: absolute;
    top: 20px;
    left: 47px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
}

.camadaSelecionada label {
    position: absolute;
    top: 20px;
    left: 47px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
}

.contentIcon {
    position: relative;
    width: 80px;
    height: 80px;
    float: right;
}

.contentIcon div {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.iconVer {
    position: relative;
    float: left;
    border-radius: 4px;
    border: 1px solid rgb(20, 20, 20);
    background-color: rgb(91, 91, 91);
    height: 20px;
    width: 20px;
    top: 30px;
    left: 15px;
}

.iconNaoVer {
    position: relative;
    float: left;
    border: 1px solid rgb(91, 91, 91);
    background-color: rgb(15, 15, 15);
    height: 20px;
    width: 20px;
    border-radius: 4px;
    top: 30px;
    left: 15px;
}

.nomeCamada {
    position: relative;
    top: 10px;
    left: 30px
}

.opacidadeCamada {
    width: 38px;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    border: none;
    font-weight: bold;
}

.iconTela {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.telaCanvas {
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}