html, body {
    overflow: hidden;
    font-weight: 400;
    line-height: 1.5;
    width: 100%;
    height: 100%;
}

#conteudoSlide1 {
    opacity: 0;
    -webkit-transition: opacity 1.5s linear;
    transition: opacity 1.5s linear;
}

#fundo1 {
    background-image: url("./imagens/fundo/fundo1.jpg");
}

h1 {
    font-size: 50px;
    text-align: center;
    font-family: "Fontetitulo1";
    font-weight: normal;
}

h2 {
    text-align: center;
    font-family: "Fontetitulo1";
}

p span, p a, li a {
    color: rgb(213, 192, 107);
    text-decoration: none;
    transition: color 0.2s linear;
}

p span:hover, p a:hover, li a:hover {
    color: rgb(134, 108, 3);
}

#titulo {
    -webkit-transition: text-shadow 1.4s ease-in-out, ;
    transition: text-shadow 1.4s ease-in-out;
}

#about ul {
    list-style-position: inside;
}

#about li {
    text-align: left;
    margin: 5px;
}

#about {
    width: 100%;
    height: 68%;
    margin-top: 25px;
    position: relative;
}

#info {
    float: left;
    padding: 15px;
    position: relative;
    width: 49%;
    height: 100%;
    margin-top: 25px;
    margin-right: 1.9%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.42);
    text-align: center;
    display: none;
    opacity: 0;
    border-radius: 5px;
    -webkit-transition: opacity 0.7s linear, margin-top 0.6s ease-out;
    transition: opacity 0.7s linear, margin-top 0.6s ease-out;
}

#traprogress {
    padding: 15px;
    position: relative;
    width: 49%;
    height: 100%;
    margin-top: 25px;
    overflow: auto;
    display: none;
    opacity: 0;
    border-radius: 5px;
    float: left;
    background-color: rgba(0, 0, 0, 0.42);
    -webkit-transition: opacity 0.7s linear, margin-top 0.6s ease-out;
    transition: opacity 0.7s linear, margin-top 0.6s ease-out;
}

#bttdownload {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 60px;
    display: none;
    opacity: 0;
    border-radius: 5px;
    -webkit-transition: box-shadow 0.6s linear, background-color 0.6s linear, opacity 0.65s linear;
    transition: box-shadow 0.6s linear, background-color 0.6s linear, opacity 0.65s linear;
}

#bttdownload:hover {
    box-shadow: 0px 17px 40px #d49331be;
}

#bttdownload a {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    line-height: 52px;
    color: #d49331;
    display: block;
    width: 100%;
    height: 100%;
    border: solid 4px #d49331;
    border-radius: 5px;
}

#bttverdetalhes {
    bottom: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: fixed;
    left: 50%;
    transition: opacity 1.6s linear;
    animation: bttdetalhes 2.5s infinite;
    z-index: 9999;
    display: none;
    opacity: 0;
}

#contentbttdownload {
    position: relative;
    width: 49%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#iconeseta1 {
    top: 31px;
    left: 17px;
    transform: rotate(50grad);
}

#iconeseta2 {
    top: 31px;
    left: 26px;
    transform: rotate(-50grad);
}

#compararthereareviolent:hover {
    box-shadow: 0px 0px 30px #788888;
}

#omedodesangue:hover {
    box-shadow: 0px 0px 30px #85420e;
}

#compararMapaAntigaSilent:hover {
    box-shadow: 0px 0px 30px #ac7d4c;
}

#compararFolhasCaderno:hover {
    box-shadow: 0px 0px 30px #75717f;
}

#compararChavesEclipse:hover {
    box-shadow: 0px 0px 30px #87b4c9;
}

#compararEscola:hover {
    box-shadow: 0px 0px 30px #bc5720;
}

/* _________________________________Slides carrosel____________________________________ */

.telaslide {
    position: relative;
    width: 100%;
}

.telaimgcomp {
    position: relative;
    width: 100%;
    height: 100%;
}

.slides {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.rodape {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 68px;
    border-top: solid 2px rgba(255, 255, 255, 0.12);
    z-index: 9;
}

.iconsrodape {
    position: static;
    width: 100%;
    height: 100%;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
}

.iconLeft {
    position: relative;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    float: left;
    background-color: rgba(0, 0, 0, 0.42);
    margin-top: 5px;
    margin-left: 7px;
    z-index: 10;
}

.contentimgicons {
    width: 1000px;
    position: absolute;
}

.imgicons {
    height: 66px;
    float: left;
    opacity: 0.7;
}

.iconRight {
    position: relative;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    float: right;
    background-color: rgba(0, 0, 0, 0.42);
    margin-top: 5px;
    margin-right: 7px;
    z-index: 11;
}

.imgicons:hover {
    opacity: 1;
}

#imgviolentasorig {
    background-image: url("./imagens/imagens_originais/thereareviolent.png");
}

#imgviolentastrad {
    opacity: 0;
    background-image: url("./imagens/imagens_traduzidas/haimagensviolentas.png");
}

#imgjap {
    background-image: url("./imagens/imagens_originais/thereareviolentjap.png");
}

#imglimp {
    opacity: 0;
    background-image: url("./imagens/imagens_traduzidas/haimagensviolentaslimp.png");
}

#gifcgintrovert {
    display: none;
    width: 100%;
    height: 100%;
    background-image: url("./imagens/miniaturas/gifcgintrovert.gif");
    border: solid 1px rgba(133, 66, 14, 0.55);
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    background-size: 100% 100%;
}

#gifcgintrohori {
    display: none;
    width: 100%;
    height: 100%;
    background-image: url("./imagens/miniaturas/gifcgintrohori.gif");
    border: solid 1px rgba(133, 66, 14, 0.55);
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    background-size: 100% 100%;
}

#imgoldsilenthill {
    background-image: url("./imagens/imagens_originais/mapOldSilentHill.png");
}

#imgantigasilenthill {
    opacity: 0;
    background-image: url("./imagens/imagens_traduzidas/mapaAntigaSilentHill.png");
}

#imgtoschool {
    float: left;
    width: 100%;
    background-image: url("./imagens/imagens_originais/toschool.png");
}

#imgparaescola {
    opacity: 0;
    width: 100%;
    background-image: url("./imagens/imagens_traduzidas/paraaescola.png");
}

#imgdoghouse {
    float: left;
    width: 0%;
    background-image: url("./imagens/imagens_originais/doghouse.png");
}

#imgcasadecachorro {
    opacity: 0;
    background-image: url("./imagens/imagens_traduzidas/casadecachorro.png");
    width: 100%;
}

#imgkeysforeclipse {
    width: 100%;
    background-image: url("./imagens/imagens_originais/keysforeclipse.png");
}

#imgchavesparaoeclipse {
    opacity: 0;
    background-image: url("./imagens/imagens_traduzidas/chavesparaoeclipse.png");
    width: 100%;
}

#imgschoolp {
    background-image: url("./imagens/imagens_originais/schoolb.png");
    width: 100%;
}

#imgescolap {
    opacity: 0;
    background-image: url("./imagens/imagens_traduzidas/escolap.png");
    width: 100%;
}

#imgschool1a {
    background-image: url("./imagens/imagens_originais/school1f.png");
    width: 0%;
}

#imgescola1a {
    opacity: 0;
    background-image: url("./imagens/imagens_traduzidas/escola1a.png");
    width: 100%;
}

#imgschool2a {
    background-image: url("./imagens/imagens_originais/school2f.png");
    width: 0%;
}

#imgescola2a {
    opacity: 0;
    background-image: url("./imagens/imagens_traduzidas/escola2a.png");
    width: 100%;
}

#imgschoolt {
    background-image: url("./imagens/imagens_originais/schoolr.png");
    width: 0%;
}

#imgescolat {
    opacity: 0;
    background-image: url("./imagens/imagens_traduzidas/escolat.png");
    width: 100%;
}

/*________________________FUNCIONAMENTO DE COMO SERÃO COMPARADAS AS IMAGENS___________________________*/

.fundocomparar {
    position: fixed;
    opacity: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: auto;
    margin-right: auto;
    display: none;
    z-index: 1000003;
}

.fecharfundo {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 10;
}

.tracofechar1 {
    position: absolute;
    left: 10px;
    height: 3px;
    width: 30px;
    background-color: #fff;
    top: 24px;
    -webkit-transform: rotate(50grad);
    transform: rotate(50grad);
}

.tracofechar2 {
    position: absolute;
    left: 10px;
    height: 3px;
    width: 30px;
    background-color: #fff;
    top: 24px;
    -webkit-transform: rotate(-50grad);
    transform: rotate(-50grad);
}

/*____________________________________________________________________________________________________*/

.sessao {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.fundo {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
    background-size: cover;
    background-position: center;
    filter: blur(3.3px);
    transition: filter 2s linear;
}

.tracosetaleft1 {
    position: absolute;
    width: 22px;
    height: 3px;
    background-color: #fff;
    transform: rotate(-50grad);
    top: 20px;
    left: 13px;
}

.tracosetaleft2 {
    position: absolute;
    width: 22px;
    height: 3px;
    background-color: #fff;
    transform: rotate(50grad);
    top: 33px;
    left: 13px;
}

.tracosetaright1 {
    position: absolute;
    width: 22px;
    height: 3px;
    background-color: #fff;
    transform: rotate(-50grad);
    top: 33px;
    left: 18px;
}

.tracosetaright2 {
    position: absolute;
    width: 22px;
    height: 3px;
    background-color: #fff;
    transform: rotate(50grad);
    top: 20px;
    left: 18px;
}

.texto {
    position: relative;
    width: 90%;
    height: 42%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.42);
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: 20px;
    padding: 15px;
    padding-bottom: 0px;
}

.thereareviolent {
    float: left;
    width: 49.9999%;
}

.tracosetaver {
    position: absolute;
    width: 15px;
    height: 3px;
    background-color: #fff;
}

.mycontainer {
    position: relative;
    width: 100%;
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    height: 100%;
    z-index: 2;
}

.content {
    position: absolute;
    width: 100%;
    height: 83%;
    max-height: 600px;
    padding-left: 4%;
    padding-right: 4%;
    top: 12%;
}

.comparar {
    overflow: auto;
    display: block;
    width: 90%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    transition: box-shadow 0.4s linear;
}

.brilho {
    text-shadow: 0px 0px 18px #fff;
}

.imgslides {
    position: relative;
    background-size: 100% 100%;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.imgtrad {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    transition: opacity 0.4s linear;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

@media screen and (min-width: 1420px) {
    .comparar {
        max-width: 700px;
    }
}

@media screen and (max-width: 800px) {
    #bttdownload {
        width: 137px;
        height: 55px;
    }
    #bttdownload a {
        line-height: 47px;
        font-size: 14px;
    }
}

@media screen and (max-width: 650px) {
    h1 {
        font-size: 45px;
    }
    h2 {
        font-size: 32px;
    }
    h3 {
        font-size: 24px;
    }
    #bttdownload {
        width: 127px;
        height: 51px;
    }
    #bttdownload a {
        line-height: 43px;
        font-size: 13px;
    }
    #contentbttdownload {
        width: 100%;
        margin-top: 15px;
    }
    #info {
        float: none;
        padding: 7px;
        position: relative;
        width: 100%;
        height: 48.2%;
        margin-right: 0px;
    }
    #about {
        width: 100%;
        height: 76%;
        margin-top: 15px;
        position: relative;
    }
    #traprogress {
        float: none;
        padding: 7px;
        position: relative;
        width: 100%;
        height: 48.2%;
        margin-top: 15px;
    }
    .texto {
        width: 100%;
        height: 44%;
    }
}

@media screen and (max-width: 560px) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 22px;
    }
    #bttdownload {
        width: 120px;
        height: 48px;
    }
    #bttdownload a {
        line-height: 42px;
        font-size: 12px;
        border: solid 3px #d49331;
    }
}

@media screen and (max-width: 470px) {
    h1 {
        font-size: 35px;
    }
    h2 {
        font-size: 25px;
    }
    h3 {
        font-size: 20px;
    }
    body {
        font-size: 14px;
    }
    #bttdownload {
        width: 112px;
        height: 45px;
    }
    #bttdownload a {
        line-height: 39px;
        font-size: 11px;
        border: solid 3px #d49331;
    }
    #contentbttdownload {
        width: 100%;
        height: 60px;
    }
}

@media screen and (max-width: 430px) {
    body {
        font-size: 13px;
    }
}

@media screen and (max-width: 390px) {
    h1 {
        font-size: 31px;
    }
    h3 {
        font-size: 18px;
    }
    #bttdownload {
        width: 102px;
        height: 41px;
    }
    #bttdownload a {
        line-height: 35px;
        font-size: 10px;
    }
}

@media screen and (max-width: 367px) {
    h1 {
        font-size: 28px;
    }
}

@media screen and (max-height: 400px) {
    .content {
        top: 55px;
    }
}

@media screen and (min-height: 750px) {
    .content {
        padding-top: 15px;
        top: 50%;
        transform: translateY(-51%)
    }
}

@keyframes bttdetalhes {
    0% {
        transform: translate(-50%, -7px);
    }
    50% {
        transform: translate(-50%, 7px);
    }
    100% {
        transform: translate(-50%, -7px);
    }
}